
.colorbar {
    display: none !important;
}

.icon {
    margin-left: 10px;
}

.icon:hover {
    cursor: pointer;
}

.content_style {
    padding: 2rem;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.input_group {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.settings_card {
    margin-bottom: 2rem;
}

.settings_title {
    text-align: center
}

.slider_col {
    padding: 0px
}

.center{
    margin: auto;
    text-align: center;
}

.amount{
    text-align: center;
    font-style: italic;
}

.tabs{
    margin-left: auto;
}


h5:nth-of-type(1) {
    color: #A4BE7B;
    background-color: #A4BE7B;
}
h5:nth-of-type(2) {
    color: #5F8D4E;
    background-color: #5F8D4E;
}
h5:nth-of-type(3) {
    color: #285430;
    background-color: #285430;
}
h5:nth-of-type(4) {
    color: #d7eaf3;
    background-color: #d7eaf3;
}
h5:nth-of-type(5) {
    color: #77b5d9;
    background-color: #77b5d9;
}
h5:nth-of-type(6) {
    color: #14397d;
    background-color: #14397d;
}